{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 
    <h1>Accueil</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Dernière catégorie ajouter</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{categorie.titre}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div>
        {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('categorie_new') }}">Crée une catégorie | </a>
                <a href="{{ path('article_new') }}">Crée un article</a>
        {% endif %}
    </div>
{% endblock %}
